.App {
  background: url('./images/background-pattern.png');
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Board-row {
  display: flex;
}

.Board-word-wrapper {
  background-color: #e1e2b0;
  border-radius: 5px;
  margin: 5px;
}

.Board-word-wrapper.Red-word {
  background-color: #f37878;
}

.Board-word-wrapper.Blue-word {
  background-color: #8c8cb9;
}

.Board-word-wrapper.Assassin-word {
  background-color: #333333;
  color: #e2e2e2;
}

.Board-word {
  font-size: 10px;
  text-align: center;
  width: 65px;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #525252;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
